.navbar-light {
    box-shadow: 0 4px 6px -1px #bcbcbc;
    background: linear-gradient(70deg, rgb(0, 0, 0), #555555);
}

.navbar-light > div {
    margin-left: 85px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  background: linear-gradient(70deg, #ffffff, #b6b6b6);
}

.login-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}