.navbar-light {
    box-shadow: 0 4px 6px -1px #bcbcbc;
    background: linear-gradient(70deg, rgb(0, 0, 0), #555555);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #04aef6;
}

.product-images {
    display: flex;
    gap: 15px;
}
.product-images img {
    width: 100px;
    cursor: pointer;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    padding: 5px;
}
.product-main-image {
    width: 100%;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    padding: 10px;
}
.related-products img {
    width: 100%;
    height: auto;
}

.derechos-footer {
    background-color: black;
}