
.product-card {
    border-radius: 10px;
    background-color: #f8f9fa;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.derechos-footer {
    background-color: black;
}

/* Estilos para el carrito de compras */
.cart-container {
    position: fixed;
    right: -350px;
    top: 0;
    width: 350px;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
    z-index: 999;
  }
  
  .cart-header {
    padding: 21px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px #bcbcbc;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-body {
    padding: 15px;
    overflow-y: auto;
    max-height: calc(100vh - 160px);
  }
  
  .cart-footer {
    padding: 15px;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .close-cart {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
  }
  
  .cart-container.show {
    right: 0;
  }

  /* Establece un tamaño fijo para las imágenes de miniatura */
.product-images img {
    width: 100px;  /* O cualquier tamaño que desees */
    height: 100px; /* O cualquier tamaño que desees */
    object-fit: cover; /* Mantiene la proporción de la imagen sin distorsionarla */
    margin: 5px;
    cursor: pointer;
}

/* Establece un tamaño fijo para la imagen principal */
.product-main-image {
    width: 300px;  /* O cualquier tamaño que desees */
    height: 300px; /* O cualquier tamaño que desees */
    object-fit: contain; /* Ajusta la imagen sin recortarla */
}
